@tailwind base;
@tailwind components;
@tailwind utilities;

/* styling the container of the signup and login page */
.containerPage
{
    width: 850px;
    height: 600px;
}
.joinUserBox
{
    background-image: linear-gradient(#355EAD, #AA00FA);
}